/* CSS Document */
* {
	margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
	height: 100%;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	color: #FFFF;
	background-color: rgb(19, 7, 30);
    overflow-x: hidden;
}
header {
	padding-top:30px;
}
#panel-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
	flex: 1;
}
#panel-nav svg {
	width: 20%;
	height: auto;
	display: block;
}
#panel-nav ul  {
	display: flex;
	list-style-type: none;
	padding-top: 10px;
	flex: 1;
	flex-direction: row;
}
#panel-nav ul li {
	font-size: 2em;
	flex-shrink: 0;
}
#panel-nav ul li a {
	color: #d5e8f9;
	margin-left: 25px;
	margin-right: 25px
}
a:link, a:visited {
	color:#ffffff;
	text-decoration: none;
}
a:hover, a:active {
	color:#aaaaaa;
	text-decoration: none;
}
footer {
	padding:20px;
	margin:20px;
	text-align: center;
}
.feline-font1 {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
.feline-font2 {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

h1 {
	font-size: 3em;
	font-variant: small-caps;
}

.feline-font li {
	font-size: 3em;
}
.center {
	text-align: center;
}
@media (max-width: 600px) {
	#panel-nav {		
		flex-wrap: wrap;
		height: 100vh;
	}
	#panel-nav svg {
		width: 50%;
	}
	#panel-nav ul  {
		text-align: center;
		flex-direction: column;
		padding-top: 0;
	}
	#panel-nav li  {
		padding-top: 15px;
	}
}

/* -------------------------------------------------
 *
 *
 * NAVBAR
 *
 *
 - --------------------------------------------------*/
#navbar {
    color: #FFFFFF;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
    margin-right: auto;
	max-width: 1200px;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#navbar .logo-nav {
	display: flex;
	align-items: center;
	min-width: 300px;
}

#navbar ul  {
    list-style-type: none;
	min-width: 310px;
}

#navbar ul li {
	display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.6em;
}

a:link, a:visited {
    color:#DDD9D9;
    text-decoration: none;
}
a:hover, a:active {
    color: #F2CA80;
    text-decoration: none;
	transform: scale(1.1);
}

li.active a {
    color: #F2CA80;
}
#navbar h1 {
font-variant: small-caps;
}
footer {
	font-variant: small-caps;
}